In [1]:
import pandas as pd

In [28]:
df = pd.read_excel('CollegeScorecardDataDictionary (1).xlsx', sheet_name= 'institution_data_dictionary')

df['dev-category'].unique()
df = df.dropna(axis=0, subset=['VARIABLE NAME'])

In [29]:
df[df['VARIABLE NAME'].str.contains("NPT4")]

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
558,Average net price for Title IV institutions (p...,cost,avg_net_price.public,integer,NPT4_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; The average...
559,Average net price for Title IV institutions (p...,cost,avg_net_price.private,integer,NPT4_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
560,Average net price for the largest program at t...,cost,avg_net_price.program_year,integer,NPT4_PROG,NaN,NaN,IPEDS,ibid
561,Average net price for the largest program at t...,cost,avg_net_price.other_academic_year,integer,NPT4_OTHER,NaN,NaN,IPEDS,ibid
562,"Average net price for $0-$30,000 family income...",cost,net_price.public.by_income_level.0-30000,integer,NPT41_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; The average...
563,"Average net price for $30,001-$48,000 family i...",cost,net_price.public.by_income_level.30001-48000,integer,NPT42_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
564,"Average net price for $48,001-$75,000 family i...",cost,net_price.public.by_income_level.48001-75000,integer,NPT43_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
565,"Average net price for $75,001-$110,000 family ...",cost,net_price.public.by_income_level.75001-110000,integer,NPT44_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
566,"Average net price for $110,000+ family income ...",cost,net_price.public.by_income_level.110001-plus,integer,NPT45_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
567,"Average net price for $0-$30,000 family income...",cost,net_price.private.by_income_level.0-30000,integer,NPT41_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
568,"Average net price for $30,001-$48,000 family i...",cost,net_price.private.by_income_level.30001-48000,integer,NPT42_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
569,"Average net price for $48,001-$75,000 family i...",cost,net_price.private.by_income_level.48001-75000,integer,NPT43_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
570,"Average net price for $75,001-$110,000 family ...",cost,net_price.private.by_income_level.75001-110000,integer,NPT44_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
571,"Average net price for $110,000+ family income ...",cost,net_price.private.by_income_level.110001-plus,integer,NPT45_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
572,"Average net price for $0-$30,000 family income...",cost,net_price.program_reporter.by_income_level.0-3...,integer,NPT41_PROG,NaN,NaN,IPEDS,ibid
573,"Average net price for $30,001-$48,000 family i...",cost,net_price.program_reporter.by_income_level.300...,integer,NPT42_PROG,NaN,NaN,IPEDS,ibid
574,"Average net price for $48,001-$75,000 family i...",cost,net_price.program_reporter.by_income_level.480...,integer,NPT43_PROG,NaN,NaN,IPEDS,ibid
575,"Average net price for $75,001-$110,000 family ...",cost,net_price.program_reporter.by_income_level.750...,integer,NPT44_PROG,NaN,NaN,IPEDS,ibid
576,"Average net price for $110,000+ family income ...",cost,net_price.program_reporter.by_income_level.110...,integer,NPT45_PROG,NaN,NaN,IPEDS,ibid
577,"Average net price for $0-$30,000 family income...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT41_OTHER,NaN,NaN,IPEDS,ibid
578,"Average net price for $30,001-$48,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT42_OTHER,NaN,NaN,IPEDS,ibid
579,"Average net price for $48,001-$75,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT43_OTHER,NaN,NaN,IPEDS,ibid
580,"Average net price for $75,001-$110,000 family ...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT44_OTHER,NaN,NaN,IPEDS,ibid
581,"Average net price for $110,000+ family income ...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT45_OTHER,NaN,NaN,IPEDS,ibid
582,"Average net price for $0-$48,000 family income...",cost,net_price.public.by_income_level.0-48000,integer,NPT4_048_PUB,NaN,NaN,IPEDS,The average annual total cost of attendance (C...
583,"Average net price for $0-$48,000 family income...",cost,net_price.private.by_income_level.0-48000,integer,NPT4_048_PRIV,NaN,NaN,IPEDS,ibid
584,"Average net price for $0-$48,000 family income...",cost,net_price.program_reporter.by_income_level.0-4...,integer,NPT4_048_PROG,NaN,NaN,IPEDS,ibid
585,"Average net price for $0-$48,000 family income...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_048_OTHER,NaN,NaN,IPEDS,ibid
586,"Average net price for $30,001-$75,000 family i...",cost,net_price.public.by_income_level.30001-75000,integer,NPT4_3075_PUB,NaN,NaN,IPEDS,ibid
587,"Average net price for $30,001-$75,000 family i...",cost,net_price.private.by_income_level.30001-75000,integer,NPT4_3075_PRIV,NaN,NaN,IPEDS,ibid
588,"Average net price for $75,000+ family income (...",cost,net_price.public.by_income_level.75000-plus,integer,NPT4_75UP_PUB,NaN,NaN,IPEDS,ibid
589,"Average net price for $75,000+ family income (...",cost,net_price.private.by_income_level.75000-plus,integer,NPT4_75UP_PRIV,NaN,NaN,IPEDS,ibid
590,"Average net price for $30,001-$75,000 family i...",cost,net_price.program_reporter.by_income_level.300...,integer,NPT4_3075_PROG,NaN,NaN,IPEDS,ibid
591,"Average net price for $30,001-$75,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_3075_OTHER,NaN,NaN,IPEDS,ibid
592,"Average net price for $75,000+ family income (...",cost,net_price.program_reporter.by_income_level.750...,integer,NPT4_75UP_PROG,NaN,NaN,IPEDS,ibid
593,"Average net price for $75,000+ family income (...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_75UP_OTHER,NaN,NaN,IPEDS,ibid

In [47]:
df[df['NAME OF DATA ELEMENT'].str.contains("tuition")]
df.iloc[623]

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
620,In-state tuition and fees,cost,tuition.in_state,integer,TUITIONFEE_IN,NaN,NaN,IPEDS,NaN
621,Out-of-state tuition and fees,cost,tuition.out_of_state,integer,TUITIONFEE_OUT,NaN,NaN,IPEDS,NaN
623,Net tuition revenue per full-time equivalent s...,school,tuition_revenue_per_fte,integer,TUITFTE,NaN,NaN,IPEDS,Net tuition revenue (tuition revenue minus dis...

In [48]:
df[df['NAME OF DATA ELEMENT'].str.contains("price")]

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
9,URL for institution's net price calculator,school,price_calculator_url,string,NPCURL,NaN,NaN,IPEDS,Shown/used on consumer website.
558,Average net price for Title IV institutions (p...,cost,avg_net_price.public,integer,NPT4_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; The average...
559,Average net price for Title IV institutions (p...,cost,avg_net_price.private,integer,NPT4_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
560,Average net price for the largest program at t...,cost,avg_net_price.program_year,integer,NPT4_PROG,NaN,NaN,IPEDS,ibid
561,Average net price for the largest program at t...,cost,avg_net_price.other_academic_year,integer,NPT4_OTHER,NaN,NaN,IPEDS,ibid
562,"Average net price for $0-$30,000 family income...",cost,net_price.public.by_income_level.0-30000,integer,NPT41_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; The average...
563,"Average net price for $30,001-$48,000 family i...",cost,net_price.public.by_income_level.30001-48000,integer,NPT42_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
564,"Average net price for $48,001-$75,000 family i...",cost,net_price.public.by_income_level.48001-75000,integer,NPT43_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
565,"Average net price for $75,001-$110,000 family ...",cost,net_price.public.by_income_level.75001-110000,integer,NPT44_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
566,"Average net price for $110,000+ family income ...",cost,net_price.public.by_income_level.110001-plus,integer,NPT45_PUB,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
567,"Average net price for $0-$30,000 family income...",cost,net_price.private.by_income_level.0-30000,integer,NPT41_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
568,"Average net price for $30,001-$48,000 family i...",cost,net_price.private.by_income_level.30001-48000,integer,NPT42_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
569,"Average net price for $48,001-$75,000 family i...",cost,net_price.private.by_income_level.48001-75000,integer,NPT43_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
570,"Average net price for $75,001-$110,000 family ...",cost,net_price.private.by_income_level.75001-110000,integer,NPT44_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
571,"Average net price for $110,000+ family income ...",cost,net_price.private.by_income_level.110001-plus,integer,NPT45_PRIV,NaN,NaN,IPEDS,Shown/used on consumer website; ibid
572,"Average net price for $0-$30,000 family income...",cost,net_price.program_reporter.by_income_level.0-3...,integer,NPT41_PROG,NaN,NaN,IPEDS,ibid
573,"Average net price for $30,001-$48,000 family i...",cost,net_price.program_reporter.by_income_level.300...,integer,NPT42_PROG,NaN,NaN,IPEDS,ibid
574,"Average net price for $48,001-$75,000 family i...",cost,net_price.program_reporter.by_income_level.480...,integer,NPT43_PROG,NaN,NaN,IPEDS,ibid
575,"Average net price for $75,001-$110,000 family ...",cost,net_price.program_reporter.by_income_level.750...,integer,NPT44_PROG,NaN,NaN,IPEDS,ibid
576,"Average net price for $110,000+ family income ...",cost,net_price.program_reporter.by_income_level.110...,integer,NPT45_PROG,NaN,NaN,IPEDS,ibid
577,"Average net price for $0-$30,000 family income...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT41_OTHER,NaN,NaN,IPEDS,ibid
578,"Average net price for $30,001-$48,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT42_OTHER,NaN,NaN,IPEDS,ibid
579,"Average net price for $48,001-$75,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT43_OTHER,NaN,NaN,IPEDS,ibid
580,"Average net price for $75,001-$110,000 family ...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT44_OTHER,NaN,NaN,IPEDS,ibid
581,"Average net price for $110,000+ family income ...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT45_OTHER,NaN,NaN,IPEDS,ibid
582,"Average net price for $0-$48,000 family income...",cost,net_price.public.by_income_level.0-48000,integer,NPT4_048_PUB,NaN,NaN,IPEDS,The average annual total cost of attendance (C...
583,"Average net price for $0-$48,000 family income...",cost,net_price.private.by_income_level.0-48000,integer,NPT4_048_PRIV,NaN,NaN,IPEDS,ibid
584,"Average net price for $0-$48,000 family income...",cost,net_price.program_reporter.by_income_level.0-4...,integer,NPT4_048_PROG,NaN,NaN,IPEDS,ibid
585,"Average net price for $0-$48,000 family income...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_048_OTHER,NaN,NaN,IPEDS,ibid
586,"Average net price for $30,001-$75,000 family i...",cost,net_price.public.by_income_level.30001-75000,integer,NPT4_3075_PUB,NaN,NaN,IPEDS,ibid
587,"Average net price for $30,001-$75,000 family i...",cost,net_price.private.by_income_level.30001-75000,integer,NPT4_3075_PRIV,NaN,NaN,IPEDS,ibid
588,"Average net price for $75,000+ family income (...",cost,net_price.public.by_income_level.75000-plus,integer,NPT4_75UP_PUB,NaN,NaN,IPEDS,ibid
589,"Average net price for $75,000+ family income (...",cost,net_price.private.by_income_level.75000-plus,integer,NPT4_75UP_PRIV,NaN,NaN,IPEDS,ibid
590,"Average net price for $30,001-$75,000 family i...",cost,net_price.program_reporter.by_income_level.300...,integer,NPT4_3075_PROG,NaN,NaN,IPEDS,ibid
591,"Average net price for $30,001-$75,000 family i...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_3075_OTHER,NaN,NaN,IPEDS,ibid
592,"Average net price for $75,000+ family income (...",cost,net_price.program_reporter.by_income_level.750...,integer,NPT4_75UP_PROG,NaN,NaN,IPEDS,ibid
593,"Average net price for $75,000+ family income (...",cost,net_price.other_acad_calendar.by_income_level....,integer,NPT4_75UP_OTHER,NaN,NaN,IPEDS,ibid

In [6]:
df2 = pd.read_csv('/airbnb/listings.csv')

FileNotFoundError: [Errno 2] File b'/airbnb/listings.csv' does not exist: b'/airbnb/listings.csv'